body {
    background: white ;/*#99F3BD;*/
    padding: 0px;
    margin: 0px;
    position: relative;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0;
    position: sticky;
    top: 3%;
    background: linear-gradient(to bottom, #27DF99 70%, #99F3BD);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    align-items: center;
}

.campo-pesquisa{
    border-color: black;
    border-radius: 2%;
}


.pointer{
    cursor: pointer;
}

.text{
    cursor: text;
}

button:hover{
    zoom: 120%;
}



.catalogo-uan {
    height: fit-content;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    height: 130px;
    margin-left: 3.125%;
    margin-right: 3.125%;
    margin-bottom: 2.3%;
    background: #f5f5f5;
    border-radius: 2% / 25% ;
    box-shadow: outset 0 0 10px 10px rgb(128, 127, 127);
    box-shadow: inset 0 0 5px 5px rgb(128, 127, 127);
    font-family: poppins ;
    font-size:large;
}

.uan:hover{
    zoom:103%;
    background: #fdfdf4;
}

.uan-nome{
    margin-left: 3%;
    position: static;
}


.botoes-uan{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 3%;
}

.botao-uan{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15%;
    border: 2px solid black;
}

.botao-img{
    align-self: center;
    width: 18px;
    height: 18px;
}

.nova-uan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11%;
    height: 14%;
    border-radius: 10% / 20%;
    background: #EAEAEC;
    box-shadow: outset 0 0 10px 10px rgb(128, 127, 127);
    box-shadow: inset 0 0 10px 10px rgb(128, 127, 127);
}

.nova-uan-img{
    width: 50% ;
    height: 85% ;
    margin: 5%;
}